<div class="container">
    <h2>Client</h2>
    <a href="/clientlogin">Login as a client</a>
    <a href="/clientregister">Register as a client</a>

    <br>

    <h2>Owner</h2>
    <a href="/shoplogin">Login as a shop owner</a>
    <a href="/shopregister">Register as a shop owner</a>
</div>